
/* Responsive styles for employee cards */
@media (max-width: 576px), (min-width: 577px) and (max-width: 768px) { 
    .col-12,
    .col-md-6,
    .col-lg-4 {
        background-color: #ffffff;
        color: #333333;
        max-width: 100%;
        /* padding-right: 0;
        padding-left: 0; */
    }
} 
